<%- include("partials/header") %>

<main>
  <header class="header w-full h-[5rem]">
    <nav
      class="max-w-[1200px] h-full mx-auto flex items-center justify-between"
    >
      <div class="flex items-center gap-3 cursor-pointer">
        <img src="images/logo.png" alt="logo" width="50px" />
        <a href="#" class="font-semibold text-xl">AttainU</a>
      </div>

      <div class="flex items-center justify-between gap-14">
        <div class="cursor-pointer hidden md:block md:flex md:items-center md:gap-2 ">
          <div
            class="w-[50px] h-[50px] bg-gradient-to-r from-violet-500 to-fuchsia-500 rounded-full"
          ></div>
          <%= showData.name%>
        </div>
        <a href="/logout" class="bg-rose-400 text-white rounded-full py-2 px-4">
          Logout
        </a>
      </div>
    </nav>
  </header>

  <section
    class="max-w-[1200px] mx-auto h-[calc(100vh-6.75rem)] grid place-items-center"
  >
    <div class="rounded-lg w-[320px] md:w-[720px] bg-violet-100">
      <div
        class="relative md:px-20 md:py-9 md:gap-9 flex justify-center md:justify-between md:items-center text-center"
      >
        <div
          class="md:relative md:-top-0 absolute -top-14 w-[140px] h-[140px] rounded-full bg-gradient-to-r from-violet-500 to-fuchsia-500"
        ></div>
        <div class="md:flex-1 mt-24 md:mt-0 md:mb-0">
          <h1 class="text-[27px] md:text-3xl font-semibold tracking-wider">
            Welcome, <%= showData.name%>
          </h1>
          <p class="text-sm md:mt-2 tracking-wider md:tracking-widest">
            Catch a glimpse of your profile
          </p>
        </div>
      </div>

      <div
        class="flex flex-col md:flex-row md:gap-24 md:py-7 py-7 justify-center items-center"
      >
        <p class="flex items-center gap-3 py-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z"
              clip-rule="evenodd"
            />
          </svg>
          <%= showData.phone%>
        </p>
        <p class="flex items-center gap-3 py-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M5.404 14.596A6.5 6.5 0 1116.5 10a1.25 1.25 0 01-2.5 0 4 4 0 10-.571 2.06A2.75 2.75 0 0018 10a8 8 0 10-2.343 5.657.75.75 0 00-1.06-1.06 6.5 6.5 0 01-9.193 0zM10 7.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5z"
              clip-rule="evenodd"
            />
          </svg>
          <%= showData.email%>
        </p>
      </div>
    </div>
  </section>

  <footer class="text-center text-gray-400">AttainU &copy; 2023</footer>
</main>

<%- include("partials/header") %>
